<h2>Importação</h2>


<%= semantic_form_for @upload, :html => { :multipart => true } do |f| %>
<%= f.input :file, :as => :file, :label => "Importar empresas (excel):" %>
<%= submit_tag "Enviar", :class => :btn %>
<%= hidden_field_tag "upload_type", "companies" %>
<% end %>

<%= semantic_form_for @upload, :html => { :multipart => true } do |f| %>
<%= f.input :file, :as => :file, :label => "Importar Participantes (excel):" %>
<%= submit_tag "Enviar", :class => :btn %>
<%= hidden_field_tag "upload_type", "participants2" %>
<% end %>

<br/>

<h2> Empresas </h2>

<%= link_to with_icon("Nova Empresa", "icon-plus"), new_company_path, :class => "btn" %>
<%= link_to with_icon("Excluir todas empresas","icon-trash"), companies_path, :method => :delete, :confirm => "Tem certeza?", :class => "btn btn-small" if is_admin? %></td>


