<%= form_for(@credential) do |f| %>

  <div class="field">
    <%= f.label :participant %><br />
    <%= f.text_field :participant %>
  </div>
  <div class="field">
    <%= f.label :event %><br />
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :is_present %><br />
    <%= f.check_box :is_present %>
  </div>
  <div class="field">
    <%= f.label :bar_code %><br />
    <%= f.text_field :bar_code %>
  </div>
  <div class="field">
    <%= f.label :observation %><br />
    <%= f.text_field :observation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
