<h1>Listing credentials</h1>

<table>
  <tr>
    <th>Participant</th>
    <th>Event</th>
    <th>Is present</th>
    <th>Bar code</th>
    <th>Observation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credentials.each do |credential| %>
  <tr>
    <td><%= credential.participant %></td>
    <td><%= credential.event %></td>
    <td><%= credential.bar_code %></td>
    <td><%= link_to 'Show', credential %></td>
    <td><%= link_to 'Edit', edit_credential_path(credential) %></td>
    <td><%= link_to 'Destroy', credential, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credential', new_credential_path %>
