<h2>Credencial</h2>

<%= hash_table "span8", 
	"Participante" => link_to(@credential.participant.name,@credential.participant), 
	"Evento" => @credential.event.name, 
	"Código de barras" => @credential.bar_code, 
	"Horário do credenciamento" => @credential.created_at 
%>

<br/>
<%= link_to with_icon("Renovar", "icon-refresh"), 
	"/credentials/#{@credential.id}/renew", 
	:class => "btn", 
	:method => :post, 
	:confirm => "Esta ação irá gerar um novo código de barras, invalidando qualquer crachá já impresso para este participante anteriormente. Ao concluir, você deve imprimir um novo crachá. Deseja continuar?" 
%>

<%= link_to_function with_icon("Imprimir", "icon-barcode"), 'imprimecredencial(this)', :credential_id => @credential.id, :class => "btn" %>

<% if is_admin? %>
	<%= link_to with_icon("Remover", "icon-trash icon-white"), @credential, :class => "btn btn-danger", :method => :delete, :confirm => "Tem certeza?" %>
<% end %>

<hr class="soften"/>

<h3>Pagamentos:</h3>
<br/>
<table class="table">
	<thead><tr>
		<th>Horário do pgto</th>
		<th>Valor</th>
		<th>Salas</th>
		<th>Recebido por</th>
		<th>Observação</th>
		<% if is_admin? %><th></th><% end %>
	</tr>
	</thead>
	<% @credential.payments.each do |payment| %>
	<tr>
		<td><%= payment.created_at %></td>
		<td>R$<%= payment.amount %>,00</td>
		<td><%= show_payed_rooms(payment) %> </td>
		<td><%= payment.user.name %></td>
		<td><%= payment.observation %></td>
		<td><%= link_to with_icon("Remover", "icon-trash"), credential_payment_path(@credential,payment) , :confirm => "Tem certeza?", :method => :delete, :class => "btn btn-small" %></td>
	</tr>
	<% end %>
	
	<% if @credential.payments.count == 0 %>
	<tr><td colspan="5">Nenhum pagamento recebido</td></tr>
	<% end %>
</table>

<%= link_to with_icon("Pagamento", "icon-plus"), new_credential_payment_path(@credential), :class => "btn" %>

<br/><br/>
<%= link_to voltar, @credential.participant %>
